body {
    font-family: "Roboto Thin", sans-serif;
}

h1 {
    text-align: center;
}

#canvas {
    border: 1px darkgray solid;
    padding: 0;
    margin: auto;
    display: block;
    cursor: url("images/scope.png") 50 40, auto ;
    background-color: #b2b2b2;
}

#levels {
    padding: 10px;
    text-align: center;
}

#stats {
    padding: 4px;
    text-align: center;
}

footer {
    text-align: center;
    size: 2pt;
}

#levels {
    visibility: hidden;
}